<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129801406213-8hcdqec01vuuiptod536clhsu5ralp48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129801406213-8hcdqec01vuuiptod536clhsu5ralp48</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>129801406213-l3agjdgcn65belimrik2lhiit4te7qpe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDUkrTTT_8x_QOFjRYl7zMcCoo2SwbpaKc</string>
	<key>GCM_SENDER_ID</key>
	<string>129801406213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.squaDD</string>
	<key>PROJECT_ID</key>
	<string>squadd-640af</string>
	<key>STORAGE_BUCKET</key>
	<string>squadd-640af.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129801406213:ios:c6bd6fc98aa525bbf7196c</string>
</dict>
</plist>