<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227687828358-idhevrt5idtu6hr9ed03kf1tr7ou1l8d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227687828358-idhevrt5idtu6hr9ed03kf1tr7ou1l8d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>227687828358-a7n42d4kcp99qq9pepfie3ftlms0ltcu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCqpbCsyY02Y_oY5izPs3-UUTBluY945qE</string>
	<key>GCM_SENDER_ID</key>
	<string>227687828358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viora.app</string>
	<key>PROJECT_ID</key>
	<string>viora-b75f7</string>
	<key>STORAGE_BUCKET</key>
	<string>viora-b75f7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227687828358:ios:ccdafa9d0f551a599e7a07</string>
</dict>
</plist>
